<main class="game">
    <div class="timer">{{timer}}</div>
    <div class="width">{{width}}</div>
    <div class="height">{{height}}</div>
    <section class="cards_holder" style="grid-template-columns: repeat({{width}}, 1fr);">
        {{#each cards}}
            <div class="card" data-card-index="{{dirName}}_{{cardIndex}}">
                <div class="front_card">
                    {{{svg}}}
                </div>
                <div class="back_card">
                    <img src="/static/backCardIcon.svg" alt="Card with question">
                </div>
            </div>
        {{/each}}
    </section>
    <div class="score_counter">0</div>
    <div id="openModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{{title}}</h3>
                </div>
                <div class="modal-body">
                <p>
                    {{content}}
                </p>
                <label>
                    <input type="text" id="name" placeholder="Лено4ка">
                </label>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn__cancel">{{button_cancel_text}}</button>
                <button type="button" class="btn__ok">{{button_ok_text}}</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="module" src="/static/js/index.js"></script>
